@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "RolesList";
}

<h1>Roles List</h1>
<a asp-action="CreateRole" asp-controller="Account" class="btn btn-primary">Create new role</a>
<ul>
    @foreach (var item in Model)
    {
        <li>@item.Name</li>
    }
</ul>

